*.DS_Store
*.class
*validation.log
*fhir-error-dump.txt
schema
implementations/ruby/output
implementations/javascript/
implementations/objectivec/
implementations/pascal/
implementations/csharp/
implementations/java/org.hl7.fhir.utilities/bin/
#.project
ivy/
publish/
qa/
temp/**
tools/java/imports/
#implementations/ruby/base/*
tools/java/org.hl7.fhir.tools.core/bin/
tools/java/org.hl7.fhir.tools.core/.settings/
tools/java/org.hl7.fhir.instance/bin/
